body {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.header {
  background-color: rgb(98, 197, 142);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 8px;
}

.content {
  background-color: rgb(137, 200, 165);
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(108, 187, 142);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  height: 24px;
  width: 24px;
  transition: transform 0.1s;
  cursor: pointer;
}

.settings:hover {
  color: #303030;
}

.tablink {
  background-color: #777;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  width: 50%;
  height: 50px;
  transition: transform 0.1s;
}

.tablink:hover {
  background-color: #333;
}

ul.shop-rewards {
  width: 250px;
  list-style: none;
  font-size: larger;
  padding: 0;
}

.reward {
  justify-content: space-between;
}

.reward:nth-child(odd) {
  background-color: #f0f8ff;
}

.reward:nth-child(even) {
  background-color: #e1e9f0;
}

.reward:hover {
  background-color: #d2dae1;
}

.placeholder-reward {
  background-color: #ffffff;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  flex-direction: column;
  width: 250px;
  height: 200px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.popup-text {
  word-wrap: break-word;
  width: 150px;
  text-align: center;
}
