body {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.header {
  background-color: rgb(98, 197, 142);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 8px;
}

.content {
  background-color: rgb(137, 200, 165);
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(108, 187, 142);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  height: 24px;
  width: 24px;
  transition: transform 0.1s;
  cursor: pointer;
}

.settings:hover {
  color: #303030;
}

/* tabs */

/* Style the tab buttons */
.tablink {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  height: 50px;
  transition: transform 0.1s;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #333;
}
